{% extends 'base.html' %}
{% block head %}
{# ChartJS #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.js"></script>
<link rel="stylesheet" href="/static/css/neighChart.css"/>
{% endblock %}
{% block body %}
<div class="container" >
    <div class="row">
        <div class="col" id="container">
            <h2>San Francisco Neighborhoods</h2>
            <div class="row"> 
                <form id="neighborhoods">
                    <div id="neigh-info">
                        <label for="neigh"></label>
                        <select id="neighs" class="browser-default custom-select" name="neighs" onchange="changeNeigh();">
                            <option selected>Select a neighborhood</option>
                            {% for neigh in list_neigh%}
                                {% for key, value in neigh.items() %}
                                    <option value={{ key }}>{{ value }}</option>
                                {% endfor %}
                            {% endfor %}
                        </select>
                    </div>
                    <div id="crime-picker"></div>
                </form>
            </div>
            <div id="div-chart" class="row"></div>
        </div>
        <div class="col">
            <h6 id="safest">Safety scale</h6><div class="colorB cat0"></div>
            <div class="colorB cat1"></div>
            <div class="colorB cat2"></div>
            <div class="colorB cat3"></div>
            <div class="colorB cat4"></div>
            <div class="colorB cat5"></div>
            <div class="colorB cat6"></div>
            <div class="colorB cat7"></div>
            <div class="colorB cat8"></div>
            <iframe id="mapframe" class="mapframe" src="/mapNeigh" frameborder="0" scrolling="no" allowfullscreen>
            </iframe>
        </div>
    </div>
</div>
<script src="/static/js/neighChartMarkers.js"></script>
{% endblock %}